<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/w3.css">
    <title>Instrumentos</title>
</head>
<body>
    <!-- <div style="margin:5%"> -->
    <header class="w3-container w3-pale-yellow">
        <h1>Lista de Instrumentos</h1>
    </header>
    <table class=" w3-table w3-striped w3-hoverable">
        <tr class = "w3-pale-green">
            <th class="w3-border">ID</th>
            <th class="w3-border">Nome</th>
        </tr>
        <% for (const instrumento of instrumentos) { %>
            <tr>
                <td class="w3-border"><a href="http://localhost:3001/instrumentos/<%= instrumento.id %>"><%= instrumento.id %></a></td>
                <td class="w3-border"><%= instrumento['#text'] %></td>
            </tr>
        <% } %>
    </table>
    <!--</div> -->
</body>
</html>