doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='icon', href='/images/favicon.png')
    body
        block content
